<div class="table-main">
  <div class="userhome">
    <div class="container d-flex justify-content-center ">
        <h1 class="text-white">Welcome {{userName}}</h1>
        <a href="/logout" class="btn custom-btn btn-1 ms-5" style="height: 50px;"><span>logout</span></a>
    </div>
  </div>
</div>