.login-input,
.login-btn {
  height: 50px;
}
a{
    text-decoration: none;
}
.login-input {
  background-color: rgba(136, 136, 136, 0.178);
  border: none;
  color: white;
}
.login-input:focus {
  background-color: rgba(0, 0, 0, 0.322);
  color: white;
}
.login-main {
  background-image: url('../image/bg3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.login-container {
  border-radius: 20px;
  width: 40%;
  color: white;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px rgba(98, 98, 98, 0.435);
  margin-top: -100px;
}
.login-container2 {
    border-radius: 20px;
    width: 40%;
    color: rgb(0, 0, 0);
    padding: 30px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.435);
    
  }
.login-main h2 {
  margin-bottom: 50px;
  text-align: center;
}
.login-btn {
  width: 100%;
  background-color: #020203;
  border: none;
}



.login-btn:hover {
  background-color: #030100;
}
input:disabled{
  background-color: #ffffff2c !important;
  color: rgba(255, 255, 255, 0.301);
}
@media screen and (max-width:600px) {
  .login-container{
    width: 90%;
  }
  .loginForm{
    margin-left: -50px;
  }
}




.signupText{
    color: #215386;
}
.login-container2 {
    border-radius: 20px;
    width: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding: 30px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.435);
    
  }

  .login-container2 h2{
    font-weight: bold;
    text-transform: capitalize;
  } 
  .login-container2 .form-label{
    color: black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



  

  
  .login-container-user{

    border-radius: 20px;
    width: 40%;
    color: white;
    padding: 30px;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.435);
    margin-top: -100px;

  }

  
  .login-container-user .form-label{
    color: black;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .login-container-user  .custom-btn {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
    }
  
    .login-container-user .btn-login {
      background: rgb(131, 6, 81);
      background: linear-gradient(0deg, rgb(131, 6, 66) 0%, rgb(180, 12, 132) 100%);
      border: none;
    }
   .login-container-user .btn-login:hover {
       background: rgb(255, 0, 140);
    background: linear-gradient(0deg, rgb(255, 0, 170) 0%, rgb(251, 2, 168) 100%);
    }
  
    .login-container-user span{
      font-size: 17px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      color: white;
    }
  
  


    .login-container2 .custom-btn{
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
    }

    .login-container2 .login-btn-signup {
      width: 100%;
      background: rgb(131, 6, 81);
        background: linear-gradient(0deg, rgb(131, 6, 66) 0%, rgb(180, 12, 132) 100%);
        border: none;
    }
  
    .login-container2 .login-btn-signup:hover{
      background: rgb(255, 0, 140);
      background: linear-gradient(0deg, rgb(255, 0, 170) 0%, rgb(251, 2, 168) 100%);
      
    }

    .login-container2 .error-text{
      color: #ad4d2c;
    }

    .login-container .error-text{
      color: #ad4d2c;
    }